@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@-viewport {width: device-width; scale: 1; }

/* This is what you do to caption text out */

*, *::before, *::after{ box-sizing: inherit;}

html { 
	-moz-text-size-adjust:100 ;
	-ms-text-size-adjust:100 ;
	-webkit-text-size-adjust:100 ;
	text-size-adjust:100 ;

	box-sizing: border-box;

	margin:0;
	padding:0;

	font-family: 'Merriweather', serif;
}

.main {
	margin: 1em
}

img {
	width: 100%;
}

body {
	margin:0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
}

/*///////////////////////////////////////////////////////// Main */

.float-left {
	display: block;
	float: left;
	width: 35%;
	margin: 0.4em;
}

.float-right {
	display: block;
	float: right;
	width:35%;
	margin: 0.4em;
}

nav {
	background-color: #d05c2e;
	overflow: hidden;
	height: 3rem;

}

nav ol{
	list-style-type: none;
	margin: 0 auto	;
}

nav li a{
	text-decoration: none;
	text-align: center;
	padding: 1rem;
}

nav li {
	float: right;
}

h1 {
	background-color: #d05c2e;
	color: white;
	text-align: center;
}

img {
	float: left;
}

head{

	background-color: #d05c2e;
	padding:0.5em 2em 2em 2em;
	text-align: center;	
}

h1{
	font-weight: bold;
	font-size: 2rem;
	padding: 2em o.75em 0.5em 2em;;
	margin: 0;
	text-align: center;
	background-color: #d05c2e;
	color: white;
}

h2{
	background-color: #d05c2e;
	font-weight: normal;
	font-size: 1rem;
	padding: ;
	margin: 0;
	text-align: center;
	color: white;

}

p { 
	margin-top: 0;
	clear:left;
}

clear-it{
	clear:left;
}

.float-r {
	width:33%;	
	padding:1em;
}

.famouse-cereal {
	background-color:orange;
	border:1px solid black
	overflow: hidden;
	main{ background-color:#d05c2e;
}

nav ol{
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display:inline-block;
	margin:0.5em;
	padding: 0.5em 0em 0em 0.5em;
} 

}
figure {
		background-color: #d05c2e;
		text-align: center;
		border: 
		
		
		padding:1em 1em 1em 1em;
		margin: 0em;
}

figure-caption{
	border-color: #d05c2e;
	color: white;
	margin: 1em
	padding: 1em;
}




